/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.lowiq.jellyfish.jellyseer.apis

import com.lowiq.jellyfish.jellyseer.models.MediaGet200Response
import com.lowiq.jellyfish.jellyseer.models.MediaInfo
import com.lowiq.jellyfish.jellyseer.models.MediaMediaIdStatusPostRequest
import com.lowiq.jellyfish.jellyseer.models.MediaMediaIdWatchDataGet200Response

import com.lowiq.jellyfish.jellyseer.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class MediaApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /media
        * Get media
        * Returns all media (can be filtered and limited) in a JSON object.
         * @param take  (optional)
         * @param skip  (optional)
         * @param filter  (optional)
         * @param sort  (optional, default to Sort.added)
         * @return MediaGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun mediaGet(take: Long?, skip: Long?, filter: kotlin.String?, sort: kotlin.String?): HttpResponse<MediaGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            take?.apply { localVariableQuery["take"] = listOf("$take") }
            skip?.apply { localVariableQuery["skip"] = listOf("$skip") }
            filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/media",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /media/{mediaId}
        * Delete media item
        * Removes a media item. The &#x60;MANAGE_REQUESTS&#x60; permission is required to perform this action.
         * @param mediaId Media ID 
         * @return void
        */
        open suspend fun mediaMediaIdDelete(mediaId: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/media/{mediaId}".replace("{" + "mediaId" + "}", "$mediaId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /media/{mediaId}/file
        * Delete media file
        * Removes a media file from radarr/sonarr. The &#x60;ADMIN&#x60; permission is required to perform this action.
         * @param mediaId Media ID 
         * @param is4k Whether to remove from 4K service instance (true) or regular service instance (false) (optional)
         * @return void
        */
        open suspend fun mediaMediaIdFileDelete(mediaId: kotlin.String, is4k: kotlin.Boolean?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            is4k?.apply { localVariableQuery["is4k"] = listOf("$is4k") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/media/{mediaId}/file".replace("{" + "mediaId" + "}", "$mediaId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /media/{mediaId}/{status}
        * Update media status
        * Updates a media item&#39;s status and returns the media in JSON format
         * @param mediaId Media ID 
         * @param status New status 
         * @param mediaMediaIdStatusPostRequest  (optional)
         * @return MediaInfo
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun mediaMediaIdStatusPost(mediaId: kotlin.String, status: kotlin.String, mediaMediaIdStatusPostRequest: MediaMediaIdStatusPostRequest?): HttpResponse<MediaInfo> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = mediaMediaIdStatusPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/media/{mediaId}/{status}".replace("{" + "mediaId" + "}", "$mediaId").replace("{" + "status" + "}", "$status"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /media/{mediaId}/watch_data
        * Get watch data
        * Returns play count, play duration, and users who have watched the media.  Requires the &#x60;ADMIN&#x60; permission. 
         * @param mediaId Media ID 
         * @return MediaMediaIdWatchDataGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun mediaMediaIdWatchDataGet(mediaId: kotlin.String): HttpResponse<MediaMediaIdWatchDataGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/media/{mediaId}/watch_data".replace("{" + "mediaId" + "}", "$mediaId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
