/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.lowiq.jellyfish.jellyseer.apis

import com.lowiq.jellyfish.jellyseer.models.MediaRequest
import com.lowiq.jellyfish.jellyseer.models.RequestCountGet200Response
import com.lowiq.jellyfish.jellyseer.models.RequestPostRequest
import com.lowiq.jellyfish.jellyseer.models.RequestRequestIdPutRequest
import com.lowiq.jellyfish.jellyseer.models.UserUserIdRequestsGet200Response

import com.lowiq.jellyfish.jellyseer.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class RequestApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /request/count
        * Gets request counts
        * Returns the number of requests by status including pending, approved, available, and completed requests. 
         * @return RequestCountGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun requestCountGet(): HttpResponse<RequestCountGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/request/count",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /request
        * Get all requests
        * Returns all requests if the user has the &#x60;ADMIN&#x60; or &#x60;MANAGE_REQUESTS&#x60; permissions. Otherwise, only the logged-in user&#39;s requests are returned.  If the &#x60;requestedBy&#x60; parameter is specified, only requests from that particular user ID will be returned. 
         * @param take  (optional)
         * @param skip  (optional)
         * @param filter  (optional)
         * @param sort  (optional, default to Sort.added)
         * @param sortDirection  (optional, default to SortDirection.desc)
         * @param requestedBy  (optional)
         * @param mediaType  (optional, default to MediaType.all)
         * @return UserUserIdRequestsGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun requestGet(take: Long?, skip: Long?, filter: kotlin.String?, sort: kotlin.String?, sortDirection: kotlin.String?, requestedBy: Long?, mediaType: kotlin.String?): HttpResponse<UserUserIdRequestsGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            take?.apply { localVariableQuery["take"] = listOf("$take") }
            skip?.apply { localVariableQuery["skip"] = listOf("$skip") }
            filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
            sortDirection?.apply { localVariableQuery["sortDirection"] = listOf("$sortDirection") }
            requestedBy?.apply { localVariableQuery["requestedBy"] = listOf("$requestedBy") }
            mediaType?.apply { localVariableQuery["mediaType"] = listOf("$mediaType") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/request",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /request
        * Create new request
        * Creates a new request with the provided media ID and type. The &#x60;REQUEST&#x60; permission is required.  If the user has the &#x60;ADMIN&#x60; or &#x60;AUTO_APPROVE&#x60; permissions, their request will be auomatically approved. 
         * @param requestPostRequest  
         * @return MediaRequest
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun requestPost(requestPostRequest: RequestPostRequest): HttpResponse<MediaRequest> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = requestPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/request",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /request/{requestId}
        * Delete request
        * Removes a request. If the user has the &#x60;MANAGE_REQUESTS&#x60; permission, any request can be removed. Otherwise, only pending requests can be removed.
         * @param requestId Request ID 
         * @return void
        */
        open suspend fun requestRequestIdDelete(requestId: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/request/{requestId}".replace("{" + "requestId" + "}", "$requestId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /request/{requestId}
        * Get MediaRequest
        * Returns a specific MediaRequest in a JSON object.
         * @param requestId Request ID 
         * @return MediaRequest
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun requestRequestIdGet(requestId: kotlin.String): HttpResponse<MediaRequest> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/request/{requestId}".replace("{" + "requestId" + "}", "$requestId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /request/{requestId}
        * Update MediaRequest
        * Updates a specific media request and returns the request in a JSON object. Requires the &#x60;MANAGE_REQUESTS&#x60; permission.
         * @param requestId Request ID 
         * @param requestRequestIdPutRequest  
         * @return MediaRequest
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun requestRequestIdPut(requestId: kotlin.String, requestRequestIdPutRequest: RequestRequestIdPutRequest): HttpResponse<MediaRequest> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = requestRequestIdPutRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/request/{requestId}".replace("{" + "requestId" + "}", "$requestId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /request/{requestId}/retry
        * Retry failed request
        * Retries a request by resending requests to Sonarr or Radarr.  Requires the &#x60;MANAGE_REQUESTS&#x60; permission or &#x60;ADMIN&#x60;. 
         * @param requestId Request ID 
         * @return MediaRequest
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun requestRequestIdRetryPost(requestId: kotlin.String): HttpResponse<MediaRequest> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/request/{requestId}/retry".replace("{" + "requestId" + "}", "$requestId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /request/{requestId}/{status}
        * Update a request&#39;s status
        * Updates a request&#39;s status to approved or declined. Also returns the request in a JSON object.  Requires the &#x60;MANAGE_REQUESTS&#x60; permission or &#x60;ADMIN&#x60;. 
         * @param requestId Request ID 
         * @param status New status 
         * @return MediaRequest
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun requestRequestIdStatusPost(requestId: kotlin.String, status: kotlin.String): HttpResponse<MediaRequest> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/request/{requestId}/{status}".replace("{" + "requestId" + "}", "$requestId").replace("{" + "status" + "}", "$status"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
