/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.lowiq.jellyfish.jellyseer.apis

import com.lowiq.jellyfish.jellyseer.models.AuthLogoutPost200Response
import com.lowiq.jellyfish.jellyseer.models.AuthPlexPostRequest
import com.lowiq.jellyfish.jellyseer.models.AuthResetPasswordGuidPostRequest
import com.lowiq.jellyfish.jellyseer.models.AuthResetPasswordPostRequest
import com.lowiq.jellyfish.jellyseer.models.SettingsJellyfinUsersGet200ResponseInner
import com.lowiq.jellyfish.jellyseer.models.SettingsPlexUsersGet200ResponseInner
import com.lowiq.jellyfish.jellyseer.models.User
import com.lowiq.jellyfish.jellyseer.models.UserGet200Response
import com.lowiq.jellyfish.jellyseer.models.UserImportFromJellyfinPostRequest
import com.lowiq.jellyfish.jellyseer.models.UserImportFromPlexPostRequest
import com.lowiq.jellyfish.jellyseer.models.UserPostRequest
import com.lowiq.jellyfish.jellyseer.models.UserPutRequest
import com.lowiq.jellyfish.jellyseer.models.UserRegisterPushSubscriptionPostRequest
import com.lowiq.jellyfish.jellyseer.models.UserSettings
import com.lowiq.jellyfish.jellyseer.models.UserSettingsNotifications
import com.lowiq.jellyfish.jellyseer.models.UserUserIdPushSubscriptionsGet200Response
import com.lowiq.jellyfish.jellyseer.models.UserUserIdQuotaGet200Response
import com.lowiq.jellyfish.jellyseer.models.UserUserIdRequestsGet200Response
import com.lowiq.jellyfish.jellyseer.models.UserUserIdSettingsLinkedAccountsJellyfinPostRequest
import com.lowiq.jellyfish.jellyseer.models.UserUserIdSettingsPasswordGet200Response
import com.lowiq.jellyfish.jellyseer.models.UserUserIdSettingsPasswordPostRequest
import com.lowiq.jellyfish.jellyseer.models.UserUserIdSettingsPermissionsGet200Response
import com.lowiq.jellyfish.jellyseer.models.UserUserIdSettingsPermissionsPostRequest
import com.lowiq.jellyfish.jellyseer.models.UserUserIdWatchDataGet200Response
import com.lowiq.jellyfish.jellyseer.models.UserUserIdWatchlistGet200Response

import com.lowiq.jellyfish.jellyseer.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class UsersApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /auth/me
        * Get logged-in user
        * Returns the currently logged-in user.
         * @return User
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun authMeGet(): HttpResponse<User> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/auth/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /auth/reset-password/{guid}
        * Reset the password for a user
        * Resets the password for a user if the given guid is connected to a user
         * @param guid  
         * @param authResetPasswordGuidPostRequest  
         * @return AuthLogoutPost200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun authResetPasswordGuidPost(guid: kotlin.String, authResetPasswordGuidPostRequest: AuthResetPasswordGuidPostRequest): HttpResponse<AuthLogoutPost200Response> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = authResetPasswordGuidPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/auth/reset-password/{guid}".replace("{" + "guid" + "}", "$guid"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /auth/reset-password
        * Send a reset password email
        * Sends a reset password email to the email if the user exists
         * @param authResetPasswordPostRequest  
         * @return AuthLogoutPost200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun authResetPasswordPost(authResetPasswordPostRequest: AuthResetPasswordPostRequest): HttpResponse<AuthLogoutPost200Response> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = authResetPasswordPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/auth/reset-password",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/jellyfin/users
        * Get Jellyfin Users
        * Returns a list of Jellyfin Users in a JSON array.
         * @return kotlin.collections.List<SettingsJellyfinUsersGet200ResponseInner>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJellyfinUsersGet(): HttpResponse<kotlin.collections.List<SettingsJellyfinUsersGet200ResponseInner>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/jellyfin/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/plex/users
        * Get Plex users
        * Returns a list of Plex users in a JSON array.  Requires the &#x60;MANAGE_USERS&#x60; permission. 
         * @return kotlin.collections.List<SettingsPlexUsersGet200ResponseInner>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPlexUsersGet(): HttpResponse<kotlin.collections.List<SettingsPlexUsersGet200ResponseInner>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/plex/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user
        * Get all users
        * Returns all users in a JSON object.
         * @param take  (optional)
         * @param skip  (optional)
         * @param sort  (optional, default to Sort.created)
         * @param q  (optional)
         * @param includeIds  (optional)
         * @return UserGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userGet(take: Long?, skip: Long?, sort: kotlin.String?, q: kotlin.String?, includeIds: kotlin.String?): HttpResponse<UserGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            take?.apply { localVariableQuery["take"] = listOf("$take") }
            skip?.apply { localVariableQuery["skip"] = listOf("$skip") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
            q?.apply { localVariableQuery["q"] = listOf("$q") }
            includeIds?.apply { localVariableQuery["includeIds"] = listOf("$includeIds") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/import-from-jellyfin
        * Import all users from Jellyfin
        * Fetches and imports users from the Jellyfin server.  Requires the &#x60;MANAGE_USERS&#x60; permission. 
         * @param userImportFromJellyfinPostRequest  (optional)
         * @return kotlin.collections.List<User>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userImportFromJellyfinPost(userImportFromJellyfinPostRequest: UserImportFromJellyfinPostRequest?): HttpResponse<kotlin.collections.List<User>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userImportFromJellyfinPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/import-from-jellyfin",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/import-from-plex
        * Import all users from Plex
        * Fetches and imports users from the Plex server. If a list of Plex IDs is provided in the request body, only the specified users will be imported. Otherwise, all users will be imported.  Requires the &#x60;MANAGE_USERS&#x60; permission. 
         * @param userImportFromPlexPostRequest  (optional)
         * @return kotlin.collections.List<User>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userImportFromPlexPost(userImportFromPlexPostRequest: UserImportFromPlexPostRequest?): HttpResponse<kotlin.collections.List<User>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userImportFromPlexPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/import-from-plex",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user
        * Create new user
        * Creates a new user. Requires the &#x60;MANAGE_USERS&#x60; permission. 
         * @param userPostRequest  
         * @return User
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userPost(userPostRequest: UserPostRequest): HttpResponse<User> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /user
        * Update batch of users
        * Update users with given IDs with provided values in request &#x60;body.settings&#x60;. You cannot update users&#39; Plex tokens through this request.  Requires the &#x60;MANAGE_USERS&#x60; permission. 
         * @param userPutRequest  
         * @return kotlin.collections.List<User>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userPut(userPutRequest: UserPutRequest): HttpResponse<kotlin.collections.List<User>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userPutRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/registerPushSubscription
        * Register a web push /user/registerPushSubscription
        * Registers a web push subscription for the logged-in user
         * @param userRegisterPushSubscriptionPostRequest  
         * @return void
        */
        open suspend fun userRegisterPushSubscriptionPost(userRegisterPushSubscriptionPostRequest: UserRegisterPushSubscriptionPostRequest): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userRegisterPushSubscriptionPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/registerPushSubscription",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /user/{userId}
        * Delete user by ID
        * Deletes the user with the provided userId. Requires the &#x60;MANAGE_USERS&#x60; permission.
         * @param userId  
         * @return User
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdDelete(userId: Long): HttpResponse<User> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/user/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}
        * Get user by ID
        * Retrieves user details in a JSON object. Requires the &#x60;MANAGE_USERS&#x60; permission. 
         * @param userId  
         * @return User
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdGet(userId: Long): HttpResponse<User> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /user/{userId}/pushSubscription/{endpoint}
        * Delete user push subscription by key
        * Deletes the user push subscription with the provided key.
         * @param userId  
         * @param endpoint  
         * @return void
        */
        open suspend fun userUserIdPushSubscriptionEndpointDelete(userId: Long, endpoint: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/user/{userId}/pushSubscription/{endpoint}".replace("{" + "userId" + "}", "$userId").replace("{" + "endpoint" + "}", "$endpoint"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/pushSubscription/{endpoint}
        * Get web push notification settings for a user
        * Returns web push notification settings for a user in a JSON object. 
         * @param userId  
         * @param endpoint  
         * @return UserUserIdPushSubscriptionsGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdPushSubscriptionEndpointGet(userId: Long, endpoint: kotlin.String): HttpResponse<UserUserIdPushSubscriptionsGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/pushSubscription/{endpoint}".replace("{" + "userId" + "}", "$userId").replace("{" + "endpoint" + "}", "$endpoint"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/pushSubscriptions
        * Get all web push notification settings for a user
        * Returns all web push notification settings for a user in a JSON object. 
         * @param userId  
         * @return UserUserIdPushSubscriptionsGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdPushSubscriptionsGet(userId: Long): HttpResponse<UserUserIdPushSubscriptionsGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/pushSubscriptions".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /user/{userId}
        * Update a user by user ID
        * Update a user with the provided values. You cannot update a user&#39;s Plex token through this request.  Requires the &#x60;MANAGE_USERS&#x60; permission. 
         * @param userId  
         * @param user  
         * @return User
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdPut(userId: Long, user: User): HttpResponse<User> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = user

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/quota
        * Get quotas for a specific user
        * Returns quota details for a user in a JSON object. Requires &#x60;MANAGE_USERS&#x60; permission if viewing other users. 
         * @param userId  
         * @return UserUserIdQuotaGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdQuotaGet(userId: Long): HttpResponse<UserUserIdQuotaGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/quota".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/requests
        * Get requests for a specific user
        * Retrieves a user&#39;s requests in a JSON object. 
         * @param userId  
         * @param take  (optional)
         * @param skip  (optional)
         * @return UserUserIdRequestsGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdRequestsGet(userId: Long, take: Long?, skip: Long?): HttpResponse<UserUserIdRequestsGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            take?.apply { localVariableQuery["take"] = listOf("$take") }
            skip?.apply { localVariableQuery["skip"] = listOf("$skip") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/requests".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /user/{userId}/settings/linked-accounts/jellyfin
        * Remove the linked Jellyfin account for a user
        * Removes the linked Jellyfin account for a specific user. Requires &#x60;MANAGE_USERS&#x60; permission if editing other users.
         * @param userId  
         * @return void
        */
        open suspend fun userUserIdSettingsLinkedAccountsJellyfinDelete(userId: Long): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/user/{userId}/settings/linked-accounts/jellyfin".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/{userId}/settings/linked-accounts/jellyfin
        * Link the provided Jellyfin account to the current user
        * Logs in to Jellyfin with the provided credentials, then links the associated Jellyfin account with the user&#39;s account. Users can only link external accounts to their own account.
         * @param userId  
         * @param userUserIdSettingsLinkedAccountsJellyfinPostRequest  
         * @return void
        */
        open suspend fun userUserIdSettingsLinkedAccountsJellyfinPost(userId: Long, userUserIdSettingsLinkedAccountsJellyfinPostRequest: UserUserIdSettingsLinkedAccountsJellyfinPostRequest): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userUserIdSettingsLinkedAccountsJellyfinPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/{userId}/settings/linked-accounts/jellyfin".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /user/{userId}/settings/linked-accounts/plex
        * Remove the linked Plex account for a user
        * Removes the linked Plex account for a specific user. Requires &#x60;MANAGE_USERS&#x60; permission if editing other users.
         * @param userId  
         * @return void
        */
        open suspend fun userUserIdSettingsLinkedAccountsPlexDelete(userId: Long): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/user/{userId}/settings/linked-accounts/plex".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/{userId}/settings/linked-accounts/plex
        * Link the provided Plex account to the current user
        * Logs in to Plex with the provided auth token, then links the associated Plex account with the user&#39;s account. Users can only link external accounts to their own account.
         * @param userId  
         * @param authPlexPostRequest  
         * @return void
        */
        open suspend fun userUserIdSettingsLinkedAccountsPlexPost(userId: Long, authPlexPostRequest: AuthPlexPostRequest): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = authPlexPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/{userId}/settings/linked-accounts/plex".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/settings/main
        * Get general settings for a user
        * Returns general settings for a specific user. Requires &#x60;MANAGE_USERS&#x60; permission if viewing other users.
         * @param userId  
         * @return UserSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdSettingsMainGet(userId: Long): HttpResponse<UserSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/settings/main".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/{userId}/settings/main
        * Update general settings for a user
        * Updates and returns general settings for a specific user. Requires &#x60;MANAGE_USERS&#x60; permission if editing other users.
         * @param userId  
         * @param userSettings  
         * @return UserSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdSettingsMainPost(userId: Long, userSettings: UserSettings): HttpResponse<UserSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/{userId}/settings/main".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/settings/notifications
        * Get notification settings for a user
        * Returns notification settings for a specific user. Requires &#x60;MANAGE_USERS&#x60; permission if viewing other users.
         * @param userId  
         * @return UserSettingsNotifications
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdSettingsNotificationsGet(userId: Long): HttpResponse<UserSettingsNotifications> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/settings/notifications".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/{userId}/settings/notifications
        * Update notification settings for a user
        * Updates and returns notification settings for a specific user. Requires &#x60;MANAGE_USERS&#x60; permission if editing other users.
         * @param userId  
         * @param userSettingsNotifications  
         * @return UserSettingsNotifications
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdSettingsNotificationsPost(userId: Long, userSettingsNotifications: UserSettingsNotifications): HttpResponse<UserSettingsNotifications> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userSettingsNotifications

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/{userId}/settings/notifications".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/settings/password
        * Get password page informatiom
        * Returns important data for the password page to function correctly. Requires &#x60;MANAGE_USERS&#x60; permission if viewing other users.
         * @param userId  
         * @return UserUserIdSettingsPasswordGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdSettingsPasswordGet(userId: Long): HttpResponse<UserUserIdSettingsPasswordGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/settings/password".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/{userId}/settings/password
        * Update password for a user
        * Updates a user&#39;s password. Requires &#x60;MANAGE_USERS&#x60; permission if editing other users.
         * @param userId  
         * @param userUserIdSettingsPasswordPostRequest  
         * @return void
        */
        open suspend fun userUserIdSettingsPasswordPost(userId: Long, userUserIdSettingsPasswordPostRequest: UserUserIdSettingsPasswordPostRequest): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userUserIdSettingsPasswordPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/{userId}/settings/password".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/settings/permissions
        * Get permission settings for a user
        * Returns permission settings for a specific user. Requires &#x60;MANAGE_USERS&#x60; permission if viewing other users.
         * @param userId  
         * @return UserUserIdSettingsPermissionsGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdSettingsPermissionsGet(userId: Long): HttpResponse<UserUserIdSettingsPermissionsGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/settings/permissions".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user/{userId}/settings/permissions
        * Update permission settings for a user
        * Updates and returns permission settings for a specific user. Requires &#x60;MANAGE_USERS&#x60; permission if editing other users.
         * @param userId  
         * @param userUserIdSettingsPermissionsPostRequest  
         * @return UserUserIdSettingsPermissionsGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdSettingsPermissionsPost(userId: Long, userUserIdSettingsPermissionsPostRequest: UserUserIdSettingsPermissionsPostRequest): HttpResponse<UserUserIdSettingsPermissionsGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = userUserIdSettingsPermissionsPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/{userId}/settings/permissions".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/watch_data
        * Get watch data
        * Returns play count, play duration, and recently watched media.  Requires the &#x60;ADMIN&#x60; permission to fetch results for other users. 
         * @param userId  
         * @return UserUserIdWatchDataGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdWatchDataGet(userId: Long): HttpResponse<UserUserIdWatchDataGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/watch_data".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user/{userId}/watchlist
        * Get the Plex watchlist for a specific user
        * Retrieves a user&#39;s Plex Watchlist in a JSON object. 
         * @param userId  
         * @param page  (optional, default to 1)
         * @return UserUserIdWatchlistGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun userUserIdWatchlistGet(userId: Long, page: Long?): HttpResponse<UserUserIdWatchlistGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user/{userId}/watchlist".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
