/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.lowiq.jellyfish.jellyseer.apis

import com.lowiq.jellyfish.jellyseer.models.Issue
import com.lowiq.jellyfish.jellyseer.models.IssueComment
import com.lowiq.jellyfish.jellyseer.models.IssueCommentCommentIdPutRequest
import com.lowiq.jellyfish.jellyseer.models.IssueCountGet200Response
import com.lowiq.jellyfish.jellyseer.models.IssueGet200Response
import com.lowiq.jellyfish.jellyseer.models.IssueIssueIdCommentPostRequest
import com.lowiq.jellyfish.jellyseer.models.IssuePostRequest

import com.lowiq.jellyfish.jellyseer.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class IssueApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * DELETE /issueComment/{commentId}
        * Delete issue comment
        * Deletes an issue comment. Only users with &#x60;MANAGE_ISSUES&#x60; or the user who created the comment can perform this action. 
         * @param commentId Issue Comment ID 
         * @return void
        */
        open suspend fun issueCommentCommentIdDelete(commentId: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/issueComment/{commentId}".replace("{" + "commentId" + "}", "$commentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /issueComment/{commentId}
        * Get issue comment
        * Returns a single issue comment in JSON format. 
         * @param commentId  
         * @return IssueComment
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun issueCommentCommentIdGet(commentId: kotlin.String): HttpResponse<IssueComment> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/issueComment/{commentId}".replace("{" + "commentId" + "}", "$commentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /issueComment/{commentId}
        * Update issue comment
        * Updates and returns a single issue comment in JSON format. 
         * @param commentId  
         * @param issueCommentCommentIdPutRequest  
         * @return IssueComment
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun issueCommentCommentIdPut(commentId: kotlin.String, issueCommentCommentIdPutRequest: IssueCommentCommentIdPutRequest): HttpResponse<IssueComment> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = issueCommentCommentIdPutRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/issueComment/{commentId}".replace("{" + "commentId" + "}", "$commentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /issue/count
        * Gets issue counts
        * Returns the number of open and closed issues, as well as the number of issues of each type. 
         * @return IssueCountGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun issueCountGet(): HttpResponse<IssueCountGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/issue/count",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /issue
        * Get all issues
        * Returns a list of issues in JSON format. 
         * @param take  (optional)
         * @param skip  (optional)
         * @param sort  (optional, default to Sort.added)
         * @param filter  (optional, default to Filter.`open`)
         * @param requestedBy  (optional)
         * @return IssueGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun issueGet(take: java.math.BigDecimal?, skip: java.math.BigDecimal?, sort: kotlin.String?, filter: kotlin.String?, requestedBy: java.math.BigDecimal?): HttpResponse<IssueGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            take?.apply { localVariableQuery["take"] = listOf("$take") }
            skip?.apply { localVariableQuery["skip"] = listOf("$skip") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
            filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
            requestedBy?.apply { localVariableQuery["requestedBy"] = listOf("$requestedBy") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/issue",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /issue/{issueId}/comment
        * Create a comment
        * Creates a comment and returns associated issue in JSON format. 
         * @param issueId  
         * @param issueIssueIdCommentPostRequest  
         * @return Issue
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun issueIssueIdCommentPost(issueId: java.math.BigDecimal, issueIssueIdCommentPostRequest: IssueIssueIdCommentPostRequest): HttpResponse<Issue> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = issueIssueIdCommentPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/issue/{issueId}/comment".replace("{" + "issueId" + "}", "$issueId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /issue/{issueId}
        * Delete issue
        * Removes an issue. If the user has the &#x60;MANAGE_ISSUES&#x60; permission, any issue can be removed. Otherwise, only a users own issues can be removed.
         * @param issueId Issue ID 
         * @return void
        */
        open suspend fun issueIssueIdDelete(issueId: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/issue/{issueId}".replace("{" + "issueId" + "}", "$issueId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /issue/{issueId}
        * Get issue
        * Returns a single issue in JSON format. 
         * @param issueId  
         * @return Issue
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun issueIssueIdGet(issueId: java.math.BigDecimal): HttpResponse<Issue> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/issue/{issueId}".replace("{" + "issueId" + "}", "$issueId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /issue/{issueId}/{status}
        * Update an issue&#39;s status
        * Updates an issue&#39;s status to approved or declined. Also returns the issue in a JSON object.  Requires the &#x60;MANAGE_ISSUES&#x60; permission or &#x60;ADMIN&#x60;. 
         * @param issueId Issue ID 
         * @param status New status 
         * @return Issue
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun issueIssueIdStatusPost(issueId: kotlin.String, status: kotlin.String): HttpResponse<Issue> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/issue/{issueId}/{status}".replace("{" + "issueId" + "}", "$issueId").replace("{" + "status" + "}", "$status"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /issue
        * Create new issue
        * Creates a new issue 
         * @param issuePostRequest  
         * @return Issue
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun issuePost(issuePostRequest: IssuePostRequest): HttpResponse<Issue> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = issuePostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/issue",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
