/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.lowiq.jellyfish.jellyseer.apis

import com.lowiq.jellyfish.jellyseer.models.DiscoverGenresliderMovieGet200ResponseInner
import com.lowiq.jellyfish.jellyseer.models.DiscoverMoviesGenreGenreIdGet200Response
import com.lowiq.jellyfish.jellyseer.models.DiscoverMoviesGet200Response
import com.lowiq.jellyfish.jellyseer.models.DiscoverMoviesLanguageLanguageGet200Response
import com.lowiq.jellyfish.jellyseer.models.DiscoverMoviesStudioStudioIdGet200Response
import com.lowiq.jellyfish.jellyseer.models.DiscoverTvGenreGenreIdGet200Response
import com.lowiq.jellyfish.jellyseer.models.DiscoverTvGet200Response
import com.lowiq.jellyfish.jellyseer.models.DiscoverTvLanguageLanguageGet200Response
import com.lowiq.jellyfish.jellyseer.models.DiscoverTvNetworkNetworkIdGet200Response
import com.lowiq.jellyfish.jellyseer.models.SearchCompanyGet200Response
import com.lowiq.jellyfish.jellyseer.models.SearchGet200Response
import com.lowiq.jellyfish.jellyseer.models.SearchKeywordGet200Response
import com.lowiq.jellyfish.jellyseer.models.UserUserIdWatchlistGet200Response

import com.lowiq.jellyfish.jellyseer.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class SearchApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /discover/genreslider/movie
        * Get genre slider data for movies
        * Returns a list of genres with backdrops attached
         * @param language  (optional)
         * @return kotlin.collections.List<DiscoverGenresliderMovieGet200ResponseInner>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverGenresliderMovieGet(language: kotlin.String?): HttpResponse<kotlin.collections.List<DiscoverGenresliderMovieGet200ResponseInner>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/genreslider/movie",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/genreslider/tv
        * Get genre slider data for TV series
        * Returns a list of genres with backdrops attached
         * @param language  (optional)
         * @return kotlin.collections.List<DiscoverGenresliderMovieGet200ResponseInner>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverGenresliderTvGet(language: kotlin.String?): HttpResponse<kotlin.collections.List<DiscoverGenresliderMovieGet200ResponseInner>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/genreslider/tv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/keyword/{keywordId}/movies
        * Get movies from keyword
        * Returns list of movies based on the provided keyword ID a JSON object.
         * @param keywordId  
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return DiscoverMoviesGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverKeywordKeywordIdMoviesGet(keywordId: java.math.BigDecimal, page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<DiscoverMoviesGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/keyword/{keywordId}/movies".replace("{" + "keywordId" + "}", "$keywordId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/movies/genre/{genreId}
        * Discover movies by genre
        * Returns a list of movies based on the provided genre ID in a JSON object.
         * @param genreId  
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return DiscoverMoviesGenreGenreIdGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverMoviesGenreGenreIdGet(genreId: kotlin.String, page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<DiscoverMoviesGenreGenreIdGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/movies/genre/{genreId}".replace("{" + "genreId" + "}", "$genreId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/movies
        * Discover movies
        * Returns a list of movies in a JSON object.
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @param genre  (optional)
         * @param studio  (optional)
         * @param keywords  (optional)
         * @param excludeKeywords Comma-separated list of keyword IDs to exclude from results (optional)
         * @param sortBy  (optional)
         * @param primaryReleaseDateGte  (optional)
         * @param primaryReleaseDateLte  (optional)
         * @param withRuntimeGte  (optional)
         * @param withRuntimeLte  (optional)
         * @param voteAverageGte  (optional)
         * @param voteAverageLte  (optional)
         * @param voteCountGte  (optional)
         * @param voteCountLte  (optional)
         * @param watchRegion  (optional)
         * @param watchProviders  (optional)
         * @param certification Exact certification to filter by (used when certificationMode is &#39;exact&#39;) (optional)
         * @param certificationGte Minimum certification to filter by (used when certificationMode is &#39;range&#39;) (optional)
         * @param certificationLte Maximum certification to filter by (used when certificationMode is &#39;range&#39;) (optional)
         * @param certificationCountry Country code for the certification system (e.g., US, GB, CA) (optional)
         * @param certificationMode Determines whether to use exact certification matching or a certification range (internal use only, not sent to TMDB API) (optional)
         * @return DiscoverMoviesGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverMoviesGet(page: java.math.BigDecimal?, language: kotlin.String?, genre: kotlin.String?, studio: java.math.BigDecimal?, keywords: kotlin.String?, excludeKeywords: kotlin.String?, sortBy: kotlin.String?, primaryReleaseDateGte: kotlin.String?, primaryReleaseDateLte: kotlin.String?, withRuntimeGte: java.math.BigDecimal?, withRuntimeLte: java.math.BigDecimal?, voteAverageGte: java.math.BigDecimal?, voteAverageLte: java.math.BigDecimal?, voteCountGte: java.math.BigDecimal?, voteCountLte: java.math.BigDecimal?, watchRegion: kotlin.String?, watchProviders: kotlin.String?, certification: kotlin.String?, certificationGte: kotlin.String?, certificationLte: kotlin.String?, certificationCountry: kotlin.String?, certificationMode: kotlin.String?): HttpResponse<DiscoverMoviesGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }
            genre?.apply { localVariableQuery["genre"] = listOf("$genre") }
            studio?.apply { localVariableQuery["studio"] = listOf("$studio") }
            keywords?.apply { localVariableQuery["keywords"] = listOf("$keywords") }
            excludeKeywords?.apply { localVariableQuery["excludeKeywords"] = listOf("$excludeKeywords") }
            sortBy?.apply { localVariableQuery["sortBy"] = listOf("$sortBy") }
            primaryReleaseDateGte?.apply { localVariableQuery["primaryReleaseDateGte"] = listOf("$primaryReleaseDateGte") }
            primaryReleaseDateLte?.apply { localVariableQuery["primaryReleaseDateLte"] = listOf("$primaryReleaseDateLte") }
            withRuntimeGte?.apply { localVariableQuery["withRuntimeGte"] = listOf("$withRuntimeGte") }
            withRuntimeLte?.apply { localVariableQuery["withRuntimeLte"] = listOf("$withRuntimeLte") }
            voteAverageGte?.apply { localVariableQuery["voteAverageGte"] = listOf("$voteAverageGte") }
            voteAverageLte?.apply { localVariableQuery["voteAverageLte"] = listOf("$voteAverageLte") }
            voteCountGte?.apply { localVariableQuery["voteCountGte"] = listOf("$voteCountGte") }
            voteCountLte?.apply { localVariableQuery["voteCountLte"] = listOf("$voteCountLte") }
            watchRegion?.apply { localVariableQuery["watchRegion"] = listOf("$watchRegion") }
            watchProviders?.apply { localVariableQuery["watchProviders"] = listOf("$watchProviders") }
            certification?.apply { localVariableQuery["certification"] = listOf("$certification") }
            certificationGte?.apply { localVariableQuery["certificationGte"] = listOf("$certificationGte") }
            certificationLte?.apply { localVariableQuery["certificationLte"] = listOf("$certificationLte") }
            certificationCountry?.apply { localVariableQuery["certificationCountry"] = listOf("$certificationCountry") }
            certificationMode?.apply { localVariableQuery["certificationMode"] = listOf("$certificationMode") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/movies",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/movies/language/{language}
        * Discover movies by original language
        * Returns a list of movies based on the provided ISO 639-1 language code in a JSON object.
         * @param language  
         * @param page  (optional, default to 1)
         * @param language2  (optional)
         * @return DiscoverMoviesLanguageLanguageGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverMoviesLanguageLanguageGet(language: kotlin.String, page: java.math.BigDecimal?, language2: kotlin.String?): HttpResponse<DiscoverMoviesLanguageLanguageGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language2?.apply { localVariableQuery["language"] = listOf("$language2") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/movies/language/{language}".replace("{" + "language" + "}", "$language"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/movies/studio/{studioId}
        * Discover movies by studio
        * Returns a list of movies based on the provided studio ID in a JSON object.
         * @param studioId  
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return DiscoverMoviesStudioStudioIdGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverMoviesStudioStudioIdGet(studioId: kotlin.String, page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<DiscoverMoviesStudioStudioIdGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/movies/studio/{studioId}".replace("{" + "studioId" + "}", "$studioId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/movies/upcoming
        * Upcoming movies
        * Returns a list of movies in a JSON object.
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return DiscoverMoviesGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverMoviesUpcomingGet(page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<DiscoverMoviesGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/movies/upcoming",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/trending
        * Trending movies and TV
        * Returns a list of movies and TV shows in a JSON object.
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return SearchGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverTrendingGet(page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<SearchGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/trending",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/tv/genre/{genreId}
        * Discover TV shows by genre
        * Returns a list of TV shows based on the provided genre ID in a JSON object.
         * @param genreId  
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return DiscoverTvGenreGenreIdGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverTvGenreGenreIdGet(genreId: kotlin.String, page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<DiscoverTvGenreGenreIdGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/tv/genre/{genreId}".replace("{" + "genreId" + "}", "$genreId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/tv
        * Discover TV shows
        * Returns a list of TV shows in a JSON object.
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @param genre  (optional)
         * @param network  (optional)
         * @param keywords  (optional)
         * @param excludeKeywords Comma-separated list of keyword IDs to exclude from results (optional)
         * @param sortBy  (optional)
         * @param firstAirDateGte  (optional)
         * @param firstAirDateLte  (optional)
         * @param withRuntimeGte  (optional)
         * @param withRuntimeLte  (optional)
         * @param voteAverageGte  (optional)
         * @param voteAverageLte  (optional)
         * @param voteCountGte  (optional)
         * @param voteCountLte  (optional)
         * @param watchRegion  (optional)
         * @param watchProviders  (optional)
         * @param status  (optional)
         * @param certification Exact certification to filter by (used when certificationMode is &#39;exact&#39;) (optional)
         * @param certificationGte Minimum certification to filter by (used when certificationMode is &#39;range&#39;) (optional)
         * @param certificationLte Maximum certification to filter by (used when certificationMode is &#39;range&#39;) (optional)
         * @param certificationCountry Country code for the certification system (e.g., US, GB, CA) (optional)
         * @param certificationMode Determines whether to use exact certification matching or a certification range (internal use only, not sent to TMDB API) (optional)
         * @return DiscoverTvGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverTvGet(page: java.math.BigDecimal?, language: kotlin.String?, genre: kotlin.String?, network: java.math.BigDecimal?, keywords: kotlin.String?, excludeKeywords: kotlin.String?, sortBy: kotlin.String?, firstAirDateGte: kotlin.String?, firstAirDateLte: kotlin.String?, withRuntimeGte: java.math.BigDecimal?, withRuntimeLte: java.math.BigDecimal?, voteAverageGte: java.math.BigDecimal?, voteAverageLte: java.math.BigDecimal?, voteCountGte: java.math.BigDecimal?, voteCountLte: java.math.BigDecimal?, watchRegion: kotlin.String?, watchProviders: kotlin.String?, status: kotlin.String?, certification: kotlin.String?, certificationGte: kotlin.String?, certificationLte: kotlin.String?, certificationCountry: kotlin.String?, certificationMode: kotlin.String?): HttpResponse<DiscoverTvGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }
            genre?.apply { localVariableQuery["genre"] = listOf("$genre") }
            network?.apply { localVariableQuery["network"] = listOf("$network") }
            keywords?.apply { localVariableQuery["keywords"] = listOf("$keywords") }
            excludeKeywords?.apply { localVariableQuery["excludeKeywords"] = listOf("$excludeKeywords") }
            sortBy?.apply { localVariableQuery["sortBy"] = listOf("$sortBy") }
            firstAirDateGte?.apply { localVariableQuery["firstAirDateGte"] = listOf("$firstAirDateGte") }
            firstAirDateLte?.apply { localVariableQuery["firstAirDateLte"] = listOf("$firstAirDateLte") }
            withRuntimeGte?.apply { localVariableQuery["withRuntimeGte"] = listOf("$withRuntimeGte") }
            withRuntimeLte?.apply { localVariableQuery["withRuntimeLte"] = listOf("$withRuntimeLte") }
            voteAverageGte?.apply { localVariableQuery["voteAverageGte"] = listOf("$voteAverageGte") }
            voteAverageLte?.apply { localVariableQuery["voteAverageLte"] = listOf("$voteAverageLte") }
            voteCountGte?.apply { localVariableQuery["voteCountGte"] = listOf("$voteCountGte") }
            voteCountLte?.apply { localVariableQuery["voteCountLte"] = listOf("$voteCountLte") }
            watchRegion?.apply { localVariableQuery["watchRegion"] = listOf("$watchRegion") }
            watchProviders?.apply { localVariableQuery["watchProviders"] = listOf("$watchProviders") }
            status?.apply { localVariableQuery["status"] = listOf("$status") }
            certification?.apply { localVariableQuery["certification"] = listOf("$certification") }
            certificationGte?.apply { localVariableQuery["certificationGte"] = listOf("$certificationGte") }
            certificationLte?.apply { localVariableQuery["certificationLte"] = listOf("$certificationLte") }
            certificationCountry?.apply { localVariableQuery["certificationCountry"] = listOf("$certificationCountry") }
            certificationMode?.apply { localVariableQuery["certificationMode"] = listOf("$certificationMode") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/tv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/tv/language/{language}
        * Discover TV shows by original language
        * Returns a list of TV shows based on the provided ISO 639-1 language code in a JSON object.
         * @param language  
         * @param page  (optional, default to 1)
         * @param language2  (optional)
         * @return DiscoverTvLanguageLanguageGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverTvLanguageLanguageGet(language: kotlin.String, page: java.math.BigDecimal?, language2: kotlin.String?): HttpResponse<DiscoverTvLanguageLanguageGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language2?.apply { localVariableQuery["language"] = listOf("$language2") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/tv/language/{language}".replace("{" + "language" + "}", "$language"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/tv/network/{networkId}
        * Discover TV shows by network
        * Returns a list of TV shows based on the provided network ID in a JSON object.
         * @param networkId  
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return DiscoverTvNetworkNetworkIdGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverTvNetworkNetworkIdGet(networkId: kotlin.String, page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<DiscoverTvNetworkNetworkIdGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/tv/network/{networkId}".replace("{" + "networkId" + "}", "$networkId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/tv/upcoming
        * Discover Upcoming TV shows
        * Returns a list of upcoming TV shows in a JSON object.
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return DiscoverTvGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverTvUpcomingGet(page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<DiscoverTvGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/tv/upcoming",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /discover/watchlist
        * Get the Plex watchlist.
        * 
         * @param page  (optional, default to 1)
         * @return UserUserIdWatchlistGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun discoverWatchlistGet(page: java.math.BigDecimal?): HttpResponse<UserUserIdWatchlistGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/discover/watchlist",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/company
        * Search for companies
        * Returns a list of TMDB companies matching the search query. (Will not return origin country)
         * @param query  
         * @param page  (optional, default to 1)
         * @return SearchCompanyGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun searchCompanyGet(query: kotlin.String, page: java.math.BigDecimal?): HttpResponse<SearchCompanyGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }
            page?.apply { localVariableQuery["page"] = listOf("$page") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/company",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search
        * Search for movies, TV shows, or people
        * Returns a list of movies, TV shows, or people a JSON object.
         * @param query  
         * @param page  (optional, default to 1)
         * @param language  (optional)
         * @return SearchGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun searchGet(query: kotlin.String, page: java.math.BigDecimal?, language: kotlin.String?): HttpResponse<SearchGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/keyword
        * Search for keywords
        * Returns a list of TMDB keywords matching the search query
         * @param query  
         * @param page  (optional, default to 1)
         * @return SearchKeywordGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun searchKeywordGet(query: kotlin.String, page: java.math.BigDecimal?): HttpResponse<SearchKeywordGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }
            page?.apply { localVariableQuery["page"] = listOf("$page") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/keyword",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
