/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.lowiq.jellyfish.jellyseer.apis

import com.lowiq.jellyfish.jellyseer.models.BlacklistGet200Response
import com.lowiq.jellyfish.jellyseer.models.DiscordSettings
import com.lowiq.jellyfish.jellyseer.models.DiscoverSlider
import com.lowiq.jellyfish.jellyseer.models.GotifySettings
import com.lowiq.jellyfish.jellyseer.models.JellyfinLibrary
import com.lowiq.jellyfish.jellyseer.models.JellyfinSettings
import com.lowiq.jellyfish.jellyseer.models.Job
import com.lowiq.jellyfish.jellyseer.models.MainSettings
import com.lowiq.jellyfish.jellyseer.models.MetadataSettings
import com.lowiq.jellyfish.jellyseer.models.NetworkSettings
import com.lowiq.jellyfish.jellyseer.models.NotificationEmailSettings
import com.lowiq.jellyfish.jellyseer.models.NtfySettings
import com.lowiq.jellyfish.jellyseer.models.PlexDevice
import com.lowiq.jellyfish.jellyseer.models.PlexLibrary
import com.lowiq.jellyfish.jellyseer.models.PlexSettings
import com.lowiq.jellyfish.jellyseer.models.PublicSettings
import com.lowiq.jellyfish.jellyseer.models.PushbulletSettings
import com.lowiq.jellyfish.jellyseer.models.PushoverSettings
import com.lowiq.jellyfish.jellyseer.models.RadarrSettings
import com.lowiq.jellyfish.jellyseer.models.ServiceProfile
import com.lowiq.jellyfish.jellyseer.models.SettingsAboutGet200Response
import com.lowiq.jellyfish.jellyseer.models.SettingsCacheGet200Response
import com.lowiq.jellyfish.jellyseer.models.SettingsDiscoverAddPostRequest
import com.lowiq.jellyfish.jellyseer.models.SettingsDiscoverSliderIdPutRequest
import com.lowiq.jellyfish.jellyseer.models.SettingsJellyfinSyncGet200Response
import com.lowiq.jellyfish.jellyseer.models.SettingsJellyfinSyncPostRequest
import com.lowiq.jellyfish.jellyseer.models.SettingsJellyfinUsersGet200ResponseInner
import com.lowiq.jellyfish.jellyseer.models.SettingsJobsJobIdSchedulePostRequest
import com.lowiq.jellyfish.jellyseer.models.SettingsLogsGet200ResponseInner
import com.lowiq.jellyfish.jellyseer.models.SettingsMetadatasTestPost200Response
import com.lowiq.jellyfish.jellyseer.models.SettingsMetadatasTestPostRequest
import com.lowiq.jellyfish.jellyseer.models.SettingsNotificationsPushoverSoundsGet200ResponseInner
import com.lowiq.jellyfish.jellyseer.models.SettingsPlexSyncGet200Response
import com.lowiq.jellyfish.jellyseer.models.SettingsPlexUsersGet200ResponseInner
import com.lowiq.jellyfish.jellyseer.models.SettingsRadarrTestPost200Response
import com.lowiq.jellyfish.jellyseer.models.SettingsRadarrTestPostRequest
import com.lowiq.jellyfish.jellyseer.models.SettingsSonarrTestPostRequest
import com.lowiq.jellyfish.jellyseer.models.SlackSettings
import com.lowiq.jellyfish.jellyseer.models.SonarrSettings
import com.lowiq.jellyfish.jellyseer.models.TautulliSettings
import com.lowiq.jellyfish.jellyseer.models.TelegramSettings
import com.lowiq.jellyfish.jellyseer.models.WebPushSettings
import com.lowiq.jellyfish.jellyseer.models.WebhookSettings

import com.lowiq.jellyfish.jellyseer.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class SettingsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /blacklist
        * Returns blacklisted items
        * Returns list of all blacklisted media
         * @param take  (optional)
         * @param skip  (optional)
         * @param search  (optional)
         * @param filter  (optional, default to Filter.manual)
         * @return BlacklistGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun blacklistGet(take: java.math.BigDecimal?, skip: java.math.BigDecimal?, search: kotlin.String?, filter: kotlin.String?): HttpResponse<BlacklistGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            take?.apply { localVariableQuery["take"] = listOf("$take") }
            skip?.apply { localVariableQuery["skip"] = listOf("$skip") }
            search?.apply { localVariableQuery["search"] = listOf("$search") }
            filter?.apply { localVariableQuery["filter"] = listOf("$filter") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/blacklist",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/about
        * Get server stats
        * Returns current server stats in a JSON object.
         * @return SettingsAboutGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsAboutGet(): HttpResponse<SettingsAboutGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/about",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/cache/{cacheId}/flush
        * Flush a specific cache
        * Flushes all data from the cache ID provided
         * @param cacheId  
         * @return void
        */
        open suspend fun settingsCacheCacheIdFlushPost(cacheId: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/cache/{cacheId}/flush".replace("{" + "cacheId" + "}", "$cacheId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/cache/dns/{dnsEntry}/flush
        * Flush a specific DNS cache entry
        * Flushes a specific DNS cache entry
         * @param dnsEntry  
         * @return void
        */
        open suspend fun settingsCacheDnsDnsEntryFlushPost(dnsEntry: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/cache/dns/{dnsEntry}/flush".replace("{" + "dnsEntry" + "}", "$dnsEntry"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/cache
        * Get a list of active caches
        * Retrieves a list of all active caches and their current stats.
         * @return SettingsCacheGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsCacheGet(): HttpResponse<SettingsCacheGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/cache",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/discover/add
        * Add a new slider
        * Add a single slider and return the newly created slider. Requires the &#x60;ADMIN&#x60; permission. 
         * @param settingsDiscoverAddPostRequest  
         * @return DiscoverSlider
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsDiscoverAddPost(settingsDiscoverAddPostRequest: SettingsDiscoverAddPostRequest): HttpResponse<DiscoverSlider> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = settingsDiscoverAddPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/discover/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/discover
        * Get all discover sliders
        * Returns all discovery sliders. Built-in and custom made.
         * @return kotlin.collections.List<DiscoverSlider>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsDiscoverGet(): HttpResponse<kotlin.collections.List<DiscoverSlider>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/discover",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/discover
        * Batch update all sliders.
        * Batch update all sliders at once. Should also be used for creation. Will only update sliders provided and will not delete any sliders not present in the request. If a slider is missing a required field, it will be ignored. Requires the &#x60;ADMIN&#x60; permission. 
         * @param discoverSlider  
         * @return kotlin.collections.List<DiscoverSlider>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsDiscoverPost(discoverSlider: kotlin.collections.List<DiscoverSlider>): HttpResponse<kotlin.collections.List<DiscoverSlider>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = discoverSlider

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/discover",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/discover/reset
        * Reset all discover sliders
        * Resets all discovery sliders to the default values. Requires the &#x60;ADMIN&#x60; permission.
         * @return void
        */
        open suspend fun settingsDiscoverResetGet(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/discover/reset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /settings/discover/{sliderId}
        * Delete slider by ID
        * Deletes the slider with the provided sliderId. Requires the &#x60;ADMIN&#x60; permission.
         * @param sliderId  
         * @return DiscoverSlider
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsDiscoverSliderIdDelete(sliderId: java.math.BigDecimal): HttpResponse<DiscoverSlider> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/settings/discover/{sliderId}".replace("{" + "sliderId" + "}", "$sliderId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /settings/discover/{sliderId}
        * Update a single slider
        * Updates a single slider and return the newly updated slider. Requires the &#x60;ADMIN&#x60; permission. 
         * @param sliderId  
         * @param settingsDiscoverSliderIdPutRequest  
         * @return DiscoverSlider
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsDiscoverSliderIdPut(sliderId: java.math.BigDecimal, settingsDiscoverSliderIdPutRequest: SettingsDiscoverSliderIdPutRequest): HttpResponse<DiscoverSlider> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = settingsDiscoverSliderIdPutRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/settings/discover/{sliderId}".replace("{" + "sliderId" + "}", "$sliderId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/initialize
        * Initialize application
        * Sets the app as initialized, allowing the user to navigate to pages other than the setup page.
         * @return PublicSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsInitializePost(): HttpResponse<PublicSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/initialize",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/jellyfin
        * Get Jellyfin settings
        * Retrieves current Jellyfin settings.
         * @return JellyfinSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJellyfinGet(): HttpResponse<JellyfinSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/jellyfin",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/jellyfin/library
        * Get Jellyfin libraries
        * Returns a list of Jellyfin libraries in a JSON array.
         * @param sync Syncs the current libraries with the current Jellyfin server (optional)
         * @param enable Comma separated list of libraries to enable. Any libraries not passed will be disabled! (optional)
         * @return kotlin.collections.List<JellyfinLibrary>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJellyfinLibraryGet(sync: kotlin.String?, enable: kotlin.String?): HttpResponse<kotlin.collections.List<JellyfinLibrary>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            sync?.apply { localVariableQuery["sync"] = listOf("$sync") }
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/jellyfin/library",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/jellyfin
        * Update Jellyfin settings
        * Updates Jellyfin settings with the provided values.
         * @param jellyfinSettings  
         * @return JellyfinSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJellyfinPost(jellyfinSettings: JellyfinSettings): HttpResponse<JellyfinSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = jellyfinSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/jellyfin",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/jellyfin/sync
        * Get status of full Jellyfin library sync
        * Returns sync progress in a JSON array.
         * @return SettingsJellyfinSyncGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJellyfinSyncGet(): HttpResponse<SettingsJellyfinSyncGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/jellyfin/sync",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/jellyfin/sync
        * Start full Jellyfin library sync
        * Runs a full Jellyfin library sync and returns the progress in a JSON array.
         * @param settingsJellyfinSyncPostRequest  (optional)
         * @return SettingsJellyfinSyncGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJellyfinSyncPost(settingsJellyfinSyncPostRequest: SettingsJellyfinSyncPostRequest?): HttpResponse<SettingsJellyfinSyncGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = settingsJellyfinSyncPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/jellyfin/sync",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/jellyfin/users
        * Get Jellyfin Users
        * Returns a list of Jellyfin Users in a JSON array.
         * @return kotlin.collections.List<SettingsJellyfinUsersGet200ResponseInner>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJellyfinUsersGet(): HttpResponse<kotlin.collections.List<SettingsJellyfinUsersGet200ResponseInner>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/jellyfin/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/jobs
        * Get scheduled jobs
        * Returns list of all scheduled jobs and details about their next execution time in a JSON array.
         * @return kotlin.collections.List<Job>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJobsGet(): HttpResponse<kotlin.collections.List<Job>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/jobs/{jobId}/cancel
        * Cancel a specific job
        * Cancels a specific job. Will return the new job status in JSON format.
         * @param jobId  
         * @return Job
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJobsJobIdCancelPost(jobId: kotlin.String): HttpResponse<Job> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/jobs/{jobId}/cancel".replace("{" + "jobId" + "}", "$jobId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/jobs/{jobId}/run
        * Invoke a specific job
        * Invokes a specific job to run. Will return the new job status in JSON format.
         * @param jobId  
         * @return Job
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJobsJobIdRunPost(jobId: kotlin.String): HttpResponse<Job> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/jobs/{jobId}/run".replace("{" + "jobId" + "}", "$jobId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/jobs/{jobId}/schedule
        * Modify job schedule
        * Re-registers the job with the schedule specified. Will return the job in JSON format.
         * @param jobId  
         * @param settingsJobsJobIdSchedulePostRequest  
         * @return Job
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsJobsJobIdSchedulePost(jobId: kotlin.String, settingsJobsJobIdSchedulePostRequest: SettingsJobsJobIdSchedulePostRequest): HttpResponse<Job> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = settingsJobsJobIdSchedulePostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/jobs/{jobId}/schedule".replace("{" + "jobId" + "}", "$jobId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/logs
        * Returns logs
        * Returns list of all log items and details
         * @param take  (optional)
         * @param skip  (optional)
         * @param filter  (optional, default to Filter.debug)
         * @param search  (optional)
         * @return kotlin.collections.List<SettingsLogsGet200ResponseInner>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsLogsGet(take: java.math.BigDecimal?, skip: java.math.BigDecimal?, filter: kotlin.String?, search: kotlin.String?): HttpResponse<kotlin.collections.List<SettingsLogsGet200ResponseInner>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            take?.apply { localVariableQuery["take"] = listOf("$take") }
            skip?.apply { localVariableQuery["skip"] = listOf("$skip") }
            filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
            search?.apply { localVariableQuery["search"] = listOf("$search") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/logs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/main
        * Get main settings
        * Retrieves all main settings in a JSON object.
         * @return MainSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsMainGet(): HttpResponse<MainSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/main",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/main
        * Update main settings
        * Updates main settings with the provided values.
         * @param mainSettings  
         * @return MainSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsMainPost(mainSettings: MainSettings): HttpResponse<MainSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = mainSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/main",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/main/regenerate
        * Get main settings with newly-generated API key
        * Returns main settings in a JSON object, using the new API key.
         * @return MainSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsMainRegeneratePost(): HttpResponse<MainSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/main/regenerate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/metadatas
        * Get Metadata settings
        * Retrieves current Metadata settings.
         * @return MetadataSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsMetadatasGet(): HttpResponse<MetadataSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/metadatas",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /settings/metadatas
        * Update Metadata settings
        * Updates Metadata settings with the provided values.
         * @param metadataSettings  
         * @return MetadataSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsMetadatasPut(metadataSettings: MetadataSettings): HttpResponse<MetadataSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = metadataSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/settings/metadatas",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/metadatas/test
        * Test Provider configuration
        * Tests if the TVDB configuration is valid. Returns a list of available languages on success.
         * @param settingsMetadatasTestPostRequest  
         * @return SettingsMetadatasTestPost200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsMetadatasTestPost(settingsMetadatasTestPostRequest: SettingsMetadatasTestPostRequest): HttpResponse<SettingsMetadatasTestPost200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = settingsMetadatasTestPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/metadatas/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/network
        * Get network settings
        * Retrieves all network settings in a JSON object.
         * @return MainSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNetworkGet(): HttpResponse<MainSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/network",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/network
        * Update network settings
        * Updates network settings with the provided values.
         * @param networkSettings  
         * @return NetworkSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNetworkPost(networkSettings: NetworkSettings): HttpResponse<NetworkSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = networkSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/network",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/discord
        * Get Discord notification settings
        * Returns current Discord notification settings in a JSON object.
         * @return DiscordSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsDiscordGet(): HttpResponse<DiscordSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/discord",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/discord
        * Update Discord notification settings
        * Updates Discord notification settings with the provided values.
         * @param discordSettings  
         * @return DiscordSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsDiscordPost(discordSettings: DiscordSettings): HttpResponse<DiscordSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = discordSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/discord",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/discord/test
        * Test Discord settings
        * Sends a test notification to the Discord agent.
         * @param discordSettings  
         * @return void
        */
        open suspend fun settingsNotificationsDiscordTestPost(discordSettings: DiscordSettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = discordSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/discord/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/email
        * Get email notification settings
        * Returns current email notification settings in a JSON object.
         * @return NotificationEmailSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsEmailGet(): HttpResponse<NotificationEmailSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/email",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/email
        * Update email notification settings
        * Updates email notification settings with provided values
         * @param notificationEmailSettings  
         * @return NotificationEmailSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsEmailPost(notificationEmailSettings: NotificationEmailSettings): HttpResponse<NotificationEmailSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = notificationEmailSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/email",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/email/test
        * Test email settings
        * Sends a test notification to the email agent.
         * @param notificationEmailSettings  
         * @return void
        */
        open suspend fun settingsNotificationsEmailTestPost(notificationEmailSettings: NotificationEmailSettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = notificationEmailSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/email/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/gotify
        * Get Gotify notification settings
        * Returns current Gotify notification settings in a JSON object.
         * @return GotifySettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsGotifyGet(): HttpResponse<GotifySettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/gotify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/gotify
        * Update Gotify notification settings
        * Update Gotify notification settings with the provided values.
         * @param gotifySettings  
         * @return GotifySettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsGotifyPost(gotifySettings: GotifySettings): HttpResponse<GotifySettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = gotifySettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/gotify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/gotify/test
        * Test Gotify settings
        * Sends a test notification to the Gotify agent.
         * @param gotifySettings  
         * @return void
        */
        open suspend fun settingsNotificationsGotifyTestPost(gotifySettings: GotifySettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = gotifySettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/gotify/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/ntfy
        * Get ntfy.sh notification settings
        * Returns current ntfy.sh notification settings in a JSON object.
         * @return NtfySettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsNtfyGet(): HttpResponse<NtfySettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/ntfy",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/ntfy
        * Update ntfy.sh notification settings
        * Update ntfy.sh notification settings with the provided values.
         * @param ntfySettings  
         * @return NtfySettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsNtfyPost(ntfySettings: NtfySettings): HttpResponse<NtfySettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = ntfySettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/ntfy",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/ntfy/test
        * Test ntfy.sh settings
        * Sends a test notification to the ntfy.sh agent.
         * @param ntfySettings  
         * @return void
        */
        open suspend fun settingsNotificationsNtfyTestPost(ntfySettings: NtfySettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = ntfySettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/ntfy/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/pushbullet
        * Get Pushbullet notification settings
        * Returns current Pushbullet notification settings in a JSON object.
         * @return PushbulletSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsPushbulletGet(): HttpResponse<PushbulletSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/pushbullet",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/pushbullet
        * Update Pushbullet notification settings
        * Update Pushbullet notification settings with the provided values.
         * @param pushbulletSettings  
         * @return PushbulletSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsPushbulletPost(pushbulletSettings: PushbulletSettings): HttpResponse<PushbulletSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = pushbulletSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/pushbullet",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/pushbullet/test
        * Test Pushbullet settings
        * Sends a test notification to the Pushbullet agent.
         * @param pushbulletSettings  
         * @return void
        */
        open suspend fun settingsNotificationsPushbulletTestPost(pushbulletSettings: PushbulletSettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = pushbulletSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/pushbullet/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/pushover
        * Get Pushover notification settings
        * Returns current Pushover notification settings in a JSON object.
         * @return PushoverSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsPushoverGet(): HttpResponse<PushoverSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/pushover",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/pushover
        * Update Pushover notification settings
        * Update Pushover notification settings with the provided values.
         * @param pushoverSettings  
         * @return PushoverSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsPushoverPost(pushoverSettings: PushoverSettings): HttpResponse<PushoverSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = pushoverSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/pushover",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/pushover/sounds
        * Get Pushover sounds
        * Returns valid Pushover sound options in a JSON array.
         * @param token  
         * @return kotlin.collections.List<SettingsNotificationsPushoverSoundsGet200ResponseInner>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsPushoverSoundsGet(token: kotlin.String): HttpResponse<kotlin.collections.List<SettingsNotificationsPushoverSoundsGet200ResponseInner>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            token?.apply { localVariableQuery["token"] = listOf("$token") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/pushover/sounds",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/pushover/test
        * Test Pushover settings
        * Sends a test notification to the Pushover agent.
         * @param pushoverSettings  
         * @return void
        */
        open suspend fun settingsNotificationsPushoverTestPost(pushoverSettings: PushoverSettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = pushoverSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/pushover/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/slack
        * Get Slack notification settings
        * Returns current Slack notification settings in a JSON object.
         * @return SlackSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsSlackGet(): HttpResponse<SlackSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/slack",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/slack
        * Update Slack notification settings
        * Updates Slack notification settings with the provided values.
         * @param slackSettings  
         * @return SlackSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsSlackPost(slackSettings: SlackSettings): HttpResponse<SlackSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = slackSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/slack",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/slack/test
        * Test Slack settings
        * Sends a test notification to the Slack agent.
         * @param slackSettings  
         * @return void
        */
        open suspend fun settingsNotificationsSlackTestPost(slackSettings: SlackSettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = slackSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/slack/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/telegram
        * Get Telegram notification settings
        * Returns current Telegram notification settings in a JSON object.
         * @return TelegramSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsTelegramGet(): HttpResponse<TelegramSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/telegram",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/telegram
        * Update Telegram notification settings
        * Update Telegram notification settings with the provided values.
         * @param telegramSettings  
         * @return TelegramSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsTelegramPost(telegramSettings: TelegramSettings): HttpResponse<TelegramSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = telegramSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/telegram",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/telegram/test
        * Test Telegram settings
        * Sends a test notification to the Telegram agent.
         * @param telegramSettings  
         * @return void
        */
        open suspend fun settingsNotificationsTelegramTestPost(telegramSettings: TelegramSettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = telegramSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/telegram/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/webhook
        * Get webhook notification settings
        * Returns current webhook notification settings in a JSON object.
         * @return WebhookSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsWebhookGet(): HttpResponse<WebhookSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/webhook",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/webhook
        * Update webhook notification settings
        * Updates webhook notification settings with the provided values.
         * @param webhookSettings  
         * @return WebhookSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsWebhookPost(webhookSettings: WebhookSettings): HttpResponse<WebhookSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = webhookSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/webhook",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/webhook/test
        * Test webhook settings
        * Sends a test notification to the webhook agent.
         * @param webhookSettings  
         * @return void
        */
        open suspend fun settingsNotificationsWebhookTestPost(webhookSettings: WebhookSettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = webhookSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/webhook/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/notifications/webpush
        * Get Web Push notification settings
        * Returns current Web Push notification settings in a JSON object.
         * @return WebPushSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsWebpushGet(): HttpResponse<WebPushSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/notifications/webpush",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/webpush
        * Update Web Push notification settings
        * Updates Web Push notification settings with the provided values.
         * @param webPushSettings  
         * @return WebPushSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsNotificationsWebpushPost(webPushSettings: WebPushSettings): HttpResponse<WebPushSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = webPushSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/webpush",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/notifications/webpush/test
        * Test Web Push settings
        * Sends a test notification to the Web Push agent.
         * @param webPushSettings  
         * @return void
        */
        open suspend fun settingsNotificationsWebpushTestPost(webPushSettings: WebPushSettings): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = webPushSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/notifications/webpush/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/plex/devices/servers
        * Gets the user&#39;s available Plex servers
        * Returns a list of available Plex servers and their connectivity state
         * @return kotlin.collections.List<PlexDevice>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPlexDevicesServersGet(): HttpResponse<kotlin.collections.List<PlexDevice>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/plex/devices/servers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/plex
        * Get Plex settings
        * Retrieves current Plex settings.
         * @return PlexSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPlexGet(): HttpResponse<PlexSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/plex",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/plex/library
        * Get Plex libraries
        * Returns a list of Plex libraries in a JSON array.
         * @param sync Syncs the current libraries with the current Plex server (optional)
         * @param enable Comma separated list of libraries to enable. Any libraries not passed will be disabled! (optional)
         * @return kotlin.collections.List<PlexLibrary>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPlexLibraryGet(sync: kotlin.String?, enable: kotlin.String?): HttpResponse<kotlin.collections.List<PlexLibrary>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            sync?.apply { localVariableQuery["sync"] = listOf("$sync") }
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/plex/library",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/plex
        * Update Plex settings
        * Updates Plex settings with the provided values.
         * @param plexSettings  
         * @return PlexSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPlexPost(plexSettings: PlexSettings): HttpResponse<PlexSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = plexSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/plex",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/plex/sync
        * Get status of full Plex library scan
        * Returns scan progress in a JSON array.
         * @return SettingsPlexSyncGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPlexSyncGet(): HttpResponse<SettingsPlexSyncGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/plex/sync",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/plex/sync
        * Start full Plex library scan
        * Runs a full Plex library scan and returns the progress in a JSON array.
         * @param settingsJellyfinSyncPostRequest  (optional)
         * @return SettingsPlexSyncGet200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPlexSyncPost(settingsJellyfinSyncPostRequest: SettingsJellyfinSyncPostRequest?): HttpResponse<SettingsPlexSyncGet200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = settingsJellyfinSyncPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/plex/sync",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/plex/users
        * Get Plex users
        * Returns a list of Plex users in a JSON array.  Requires the &#x60;MANAGE_USERS&#x60; permission. 
         * @return kotlin.collections.List<SettingsPlexUsersGet200ResponseInner>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPlexUsersGet(): HttpResponse<kotlin.collections.List<SettingsPlexUsersGet200ResponseInner>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/plex/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/public
        * Get public settings
        * Returns settings that are not protected or sensitive. Mainly used to determine if the application has been configured for the first time.
         * @return PublicSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsPublicGet(): HttpResponse<PublicSettings> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/public",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/radarr
        * Get Radarr settings
        * Returns all Radarr settings in a JSON array.
         * @return kotlin.collections.List<RadarrSettings>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsRadarrGet(): HttpResponse<kotlin.collections.List<RadarrSettings>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/radarr",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/radarr
        * Create Radarr instance
        * Creates a new Radarr instance from the request body.
         * @param radarrSettings  
         * @return RadarrSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsRadarrPost(radarrSettings: RadarrSettings): HttpResponse<RadarrSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = radarrSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/radarr",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /settings/radarr/{radarrId}
        * Delete Radarr instance
        * Deletes an existing Radarr instance based on the radarrId parameter.
         * @param radarrId Radarr instance ID 
         * @return RadarrSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsRadarrRadarrIdDelete(radarrId: kotlin.Int): HttpResponse<RadarrSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/settings/radarr/{radarrId}".replace("{" + "radarrId" + "}", "$radarrId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/radarr/{radarrId}/profiles
        * Get available Radarr profiles
        * Returns a list of profiles available on the Radarr server instance in a JSON array.
         * @param radarrId Radarr instance ID 
         * @return kotlin.collections.List<ServiceProfile>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsRadarrRadarrIdProfilesGet(radarrId: kotlin.Int): HttpResponse<kotlin.collections.List<ServiceProfile>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/radarr/{radarrId}/profiles".replace("{" + "radarrId" + "}", "$radarrId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /settings/radarr/{radarrId}
        * Update Radarr instance
        * Updates an existing Radarr instance with the provided values.
         * @param radarrId Radarr instance ID 
         * @param radarrSettings  
         * @return RadarrSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsRadarrRadarrIdPut(radarrId: kotlin.Int, radarrSettings: RadarrSettings): HttpResponse<RadarrSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = radarrSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/settings/radarr/{radarrId}".replace("{" + "radarrId" + "}", "$radarrId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/radarr/test
        * Test Radarr configuration
        * Tests if the Radarr configuration is valid. Returns profiles and root folders on success.
         * @param settingsRadarrTestPostRequest  
         * @return SettingsRadarrTestPost200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsRadarrTestPost(settingsRadarrTestPostRequest: SettingsRadarrTestPostRequest): HttpResponse<SettingsRadarrTestPost200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = settingsRadarrTestPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/radarr/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/sonarr
        * Get Sonarr settings
        * Returns all Sonarr settings in a JSON array.
         * @return kotlin.collections.List<SonarrSettings>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsSonarrGet(): HttpResponse<kotlin.collections.List<SonarrSettings>> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/sonarr",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/sonarr
        * Create Sonarr instance
        * Creates a new Sonarr instance from the request body.
         * @param sonarrSettings  
         * @return SonarrSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsSonarrPost(sonarrSettings: SonarrSettings): HttpResponse<SonarrSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = sonarrSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/sonarr",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /settings/sonarr/{sonarrId}
        * Delete Sonarr instance
        * Deletes an existing Sonarr instance based on the sonarrId parameter.
         * @param sonarrId Sonarr instance ID 
         * @return SonarrSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsSonarrSonarrIdDelete(sonarrId: kotlin.Int): HttpResponse<SonarrSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/settings/sonarr/{sonarrId}".replace("{" + "sonarrId" + "}", "$sonarrId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /settings/sonarr/{sonarrId}
        * Update Sonarr instance
        * Updates an existing Sonarr instance with the provided values.
         * @param sonarrId Sonarr instance ID 
         * @param sonarrSettings  
         * @return SonarrSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsSonarrSonarrIdPut(sonarrId: kotlin.Int, sonarrSettings: SonarrSettings): HttpResponse<SonarrSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = sonarrSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/settings/sonarr/{sonarrId}".replace("{" + "sonarrId" + "}", "$sonarrId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/sonarr/test
        * Test Sonarr configuration
        * Tests if the Sonarr configuration is valid. Returns profiles and root folders on success.
         * @param settingsSonarrTestPostRequest  
         * @return SettingsRadarrTestPost200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsSonarrTestPost(settingsSonarrTestPostRequest: SettingsSonarrTestPostRequest): HttpResponse<SettingsRadarrTestPost200Response> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = settingsSonarrTestPostRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/settings/sonarr/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /settings/tautulli
        * Get Tautulli settings
        * Retrieves current Tautulli settings.
         * @return TautulliSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsTautulliGet(): HttpResponse<TautulliSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/settings/tautulli",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /settings/tautulli
        * Update Tautulli settings
        * Updates Tautulli settings with the provided values.
         * @param tautulliSettings  
         * @return TautulliSettings
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun settingsTautulliPost(tautulliSettings: TautulliSettings): HttpResponse<TautulliSettings> {

            val localVariableAuthNames = listOf<String>("apiKey", "cookieAuth")

            val localVariableBody = tautulliSettings

            val localVariableQuery = mutableMapOf<String, List<String>>()

[...]
